/* toastOverrides.css */
.Toastify__toast {
  border-radius: 12px !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    border-radius: 12px !important;
    margin-bottom: 0 !important; /* Also remove margin if needed */
  }
}
